body{
    background: #88d4d4;
    background: linear-gradient(180deg, rgb(173, 197, 201) 36%, rgb(93, 123, 124) 92%) fixed;
 }
 #mi-foto{
    border-radius: 10%;
    width: 30%;
   
 }
 .carta{
    margin-top: 16px;
    background-color: #bbbebd;
    border-radius: 10px;
    padding:3px;
    box-shadow: 0 0 20px 1px;
}

